{% extends 'base.html.twig' %}
{% block title %} Hello City! {% endblock %}
{% block body %}

<img src="{{asset('/images/dao-format-carre-1.png')}}" alt="Logo Saturnin DAO" width="10%" class="mt-12 rounded-full shadow-md">

<h1 class="mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">Hello from Lomé !</h1>

<p class="text-lg text-gray-800">It's currently {{'now'|date('h:i A')}}.</p>

{% endblock %}